/* User page variables*/

.wrapper {
    min-height: calc(100vh - 68px);
    background: #eff2f6;
}

.loginBox {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}

.submit {
    border: 2px solid #17b3b1;
    border-radius: 5px;
    color: #17b3b1;
    transition: 0.2s all ease-in-out;
    background: none;
    padding: 0.25rem 1.25rem;
    font-weight: 900;
}

.delete {
    border: 1px solid red;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
    background: none;
    padding: 0.25rem 1.25rem;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
}
.delete:hover {
    color: white;
    background: red;
}

.submit:hover {
    background: #17b3b1;
    color: white;
}

.submit:focus {
    outline: none;
}

.register {
    font-weight: 900;
    color: #17b3b1;
    border: none;
    background: none;
    padding: 0;
}

.register:focus {
    outline: none;
}

.text-primary {
    color: #17b3b1;
}

.form {
    display: flex;
    flex-direction: column;
}
